<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comdemo.example.dell.homepagedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.mainPage.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.loginPage.MainLoginActivity" />
        <activity android:name=".ui.loginPage.RegisterActivity" />
        <activity android:name=".ui.loginPage.MessageVerification" />
        <activity android:name=".ui.loginPage.PasswordActivity" />
        <activity android:name=".ui.loginPage.ReallyNameActivity" />
        <activity android:name=".ui.loginPage.VerificationLogActivity" />
        <activity android:name=".ui.loginPage.FindPasswordActivity" />
        <activity android:name=".ui.loginPage.NewPasswordActivity" />
        <activity android:name=".ui.loginPage.ForgetVeriyActivity" />
        <activity android:name=".ui.loginPage.LoginVerifyActivity" />
        <activity android:name=".ui.mainPage.NewsActivity" />
        <activity android:name=".ui.showPicture.ShowImageActivity" />
        <activity android:name=".ui.productPage.PublishSupplyActivity" />
        <activity android:name=".ui.showPicture.PlusImageActivity" />
        <activity android:name=".ui.productPage.ShowClassificationActivity" />
        <activity android:name=".ui.productPage.ChainTypeActivity"></activity>
    </application>

</manifest>